.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--bg);
  border-bottom: 4px solid var(--main);
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2em;
}

.navbar-icon {
  display: flex;
  padding: 0.2em;
  align-items: center;
  cursor: pointer;
  color: var(--text);
  transition: color 0.3s ease;
}

.navbar-icon:hover {
  color: var(--main);
}

.icon-text {
  padding: 0.5em;
}

.nav-list {
  display: flex;
  position: absolute;
  right: 0;
  list-style: none;
  padding: 2em;
  gap: 1rem;
}

.nav-item {
  position: relative;
  padding: 0.2em 1rem;
  color: var(--text);
  transition: color 0.3s ease;
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--main);
  transition: width 0.4s ease;
}

.nav-item:hover::after,
.nav-item.active::after {
  width: 100%;
}

.nav-item:hover,
.nav-item.active {
  color: var(--main);
}

.nav-text {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .nav-list {
    padding: 1em;
    gap: 0.5rem;
  }

  .nav-item {
    padding: 0.2em 0.5rem;
  }
}

@media (max-width: 500px) {
  .nav-list {
    display: none;
  }
}
