:root {
  --bg: #181818;
  --main: #50C878;
  --secondary: #9FE2BF;
  --text: #FAF9F6;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::selection {
  background: black;
  color: var(--main);
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Shared header title styles */
.header-title {
  display: flex;
  width: fit-content;
  background-color: transparent;
  color: var(--text);
}

.header-title h1 {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
}
